---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
const pageTitle = `${frontmatter.title} — É. Urcades`;
---

<style is:global>
  .work-header {
    margin-top: 1.55em;
    margin-block-end: 2em;
  }

  .work-header img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-block-end: 1em;
  }

  .work-meta {
    margin-block-end: 2em;
  }

  .work-meta em {
    display: block;
    margin-block-end: 0.5em;
  }

  .work-tags {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  .work-tags span {
    font-size: 0.875em;
    opacity: 0.7;
  }

  article {
    max-width: 55ch;
    text-wrap: pretty;

    @supports selector(:has(*)) {
      &:has(img:last-child) img:last-child {
        padding-block-end: 0;
      }
    }
  }

  article img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding-block-end: 1em;

    @supports not selector(:has(*)) {
      &:last-of-type {
        padding-block-end: 0;
      }
    }
  }

  blockquote {
    font-style: italic;
    padding-inline-start: 1em;
    margin-inline-start: 0;

    @supports (color: light-dark(white, black)) {
      border-inline-start: 1px solid
        light-dark(
          var(--txtColor, var(--fallback-txt-color)),
          var(--txtColorDark, var(--fallback-txt-color-dark))
        );
    }

    @supports not (color: light-dark(white, black)) {
      border-inline-start: 1px solid var(--txtColor, var(--fallback-txt-color));

      @media (prefers-color-scheme: dark) {
        border-inline-start-color: var(
          --txtColorDark,
          var(--fallback-txt-color-dark)
        );
      }
    }
  }

  pre {
    padding: 1em;
    overflow-x: auto;
    border-radius: 0.33em;

    @supports (color: light-dark(white, black)) {
      background-color: light-dark(#ededed, #333333);
    }

    @supports not (color: light-dark(white, black)) {
      background-color: #ededed;

      @media (prefers-color-scheme: dark) {
        background-color: #333333;
      }
    }
  }
</style>

<Base pageTitle={pageTitle}>
  <p><a href="/work/">Back to All Work</a></p>

  <div class="work-header">
    <img src={frontmatter.imageUrl} alt={frontmatter.title} />
  </div>

  <h1>{frontmatter.title}</h1>

  <div class="work-meta">
    <em>{frontmatter.category}</em>
    {
      frontmatter.tags && (
        <div class="work-tags">
          {frontmatter.tags.map((tag: string) => (
            <span>#{tag}</span>
          ))}
        </div>
      )
    }
    {
      frontmatter.url && (
        <p>
          <a href={frontmatter.url} target="_blank" rel="noopener">
            Visit project ♨︎
          </a>
        </p>
      )
    }
  </div>

  <article>
    <slot />
  </article>

  <p>~</p>
  <p><a href="/work/">Back to All Work</a></p>
</Base>
