---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
const pageTitle = `${frontmatter.title} — É. Urcades`;
---

<style is:global>
  .work-header {
    margin-top: var(--space-1-5);
    margin-block-end: var(--space-2);
  }

  .work-header img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-block-end: var(--space-1);
  }

  .work-meta {
    margin-block-end: var(--space-2);
  }

  .work-meta em {
    display: block;
    margin-block-end: var(--space-half);
  }

  .work-tags {
    display: flex;
    gap: var(--space-half);
    flex-wrap: wrap;
  }

  .work-tags span {
    font-size: 0.875em;
  }
</style>

<Base pageTitle={pageTitle}>
  <p><a href="/work/">Back to All Work</a></p>

  <div class="work-header">
    <img src={frontmatter.imageUrl} alt={frontmatter.title} />
  </div>

  <h1>{frontmatter.title}</h1>

  <div class="work-meta">
    <em>{frontmatter.category}</em>
    {
      frontmatter.tags && (
        <div class="work-tags">
          {frontmatter.tags.map((tag: string) => (
            <span class="text-soft">#{tag}</span>
          ))}
        </div>
      )
    }
    {
      frontmatter.url && (
        <p>
          <a href={frontmatter.url} target="_blank" rel="noopener">
            Visit project ♨︎
          </a>
        </p>
      )
    }
  </div>

  <article class="prose">
    <slot />
  </article>

  <p>~</p>
  <p><a href="/work/">Back to All Work</a></p>
</Base>
