---
import Base from "./Base.astro";
const pageTitle = Astro.props.frontmatter.title;
const txtColor = Astro.props.frontmatter.foregroundColor;
const bgColor = Astro.props.frontmatter.backgroundColor;
const txtColorDark = Astro.props.frontmatter.foregroundColorDark;
const bgColorDark = Astro.props.frontmatter.backgroundColorDark;
const { frontmatter } = Astro.props;
---

<Base pageTitle={pageTitle} bgColor={bgColor} txtColor={txtColor} bgColorDark={bgColorDark} txtColorDark={txtColorDark}>
	<p><a href="/writing/" >Back to All Writing</a></p>
	<h1>{frontmatter.title}</h1>
    <article>
	    <slot/>
    </article>
	<p>*</p>
	<p>Title: {frontmatter.title}</p>
	<p>Description: {frontmatter.description}</p>
	<p>Published: {frontmatter.pubDate}</p>
	<p>*</p>
	<p><a href="/writing/">Back to All Writing</a></p>
	<p><a href="https://urcades.substack.com/">Subscribe</a></p>
	<p><a href="/rss.xml">RSS</a></p>
</Base>